.account-form-section {
    margin-bottom: 73px;
}
.account__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;

    color: #1D1818;

}
.account__title-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    @media screen and (max-width:479px) {
        margin-bottom: 30px;
          }
}
.account-exit {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;

    color: #757575;

    &:hover {
        text-decoration: underline;
    }
}
.account-nav {
    width: 255px;
    margin-right: 130px;
    @media screen and (max-width:1279px) {
        width: 100%;
        margin-bottom: 45px;
        border-bottom: 1px solid #E2E2E2;
          }

          @media screen and (max-width:479px) {
            border: none;
              }
}
.account-nav__list {
    @media screen and (max-width:1279px) {
        display: flex;
        justify-content: space-between;
          }

          @media screen and (max-width:479px) {
            display: block;
              }
}
.account-nav__link {
    display: flex;
    align-items: center;

    @media screen and (max-width:479px) {
        justify-content: center;
          }

    span {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;

        color: #1D1818;
        transition: 100ms all linear;
    }

    svg {
        margin-right: 15px;
        transition: 100ms all linear;
    }

    &:hover span {
        color: #384685;
    }

    &:hover svg {
        fill: #384685;
    }
}
.account-nav__item {
    border-bottom: 1px solid #E2E2E2;
    padding-top: 24px;
    padding-bottom: 24px;
    @media screen and (max-width:1279px) {
        border: none;
          }

          @media screen and (max-width:479px) {
            border-bottom: 1px solid #E2E2E2;
            margin-bottom: 10px;
              }
}
.account__content {
    display: flex;
    @media screen and (max-width:1279px) {
        display: block;
          }

}
.account-form__user {
    @media screen and (max-width:1023px) {
        margin-bottom: 70px;
          }
}
.account-form__content {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -150px;
    margin-top: -150px;
}
.account-form__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;

    color: #1D1818;
}
.account-form__user__content {
    display: flex;
    flex-direction: column;
}
.account-form__input {
    background: #F3F3F3;
    border-radius: 5px;
    padding: 12px 16px;
    width: 357px;
    font-weight: 400;
    font-size: 18px;
    color: #564D4D;

    @media screen and (max-width:479px) {
        width: 335px;
          }
}
.account-form__item {
    margin-bottom: 12px;
    @media screen and (max-width:1439px) {
        margin-bottom: 30px;
          }
}
.account-form__btn {
    width: 357px;
    padding: 12px 0;
    background: #F3F3F3;
    border: 1px solid #384685;
    border-radius: 5px;
    color: #384685;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    @media screen and (max-width:479px) {
        width: 335px;
          }
}
.account-form__label {

    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    width: 131px;
    display: inline-block;


    color: #000000;
    @media screen and (max-width:1439px) {
        margin-bottom: 10px;
          }
}
.account-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:1023px) {
        display: block;
          }
}