.footer {
    background: #384685;
    margin-top: 71px;
}
.container.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 43px;
}
.footer-logo {
    margin-bottom: 25px;
}

.footer-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;

    color: #FFFFFF;
}
.footer-categories__item {
    margin-bottom: 25px;
}
.footer-categories__item a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;

}
#footer-categories__link {
    font-weight: bold;
    font-size: 20px;
line-height: 1.3;
@media screen and (max-width:1559px) {
    font-size: 16px;
  }
}
.footer-address {
    display: flex;
    margin-top: 20px;
}
.footer-address--left {
    margin-right: 26px;
}
.footer-address__text--left {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 15px;

    color: #FFFFFF;
}
.footer-address__text--right {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 15px;

    color: #FFFFFF;

}
.footer-address__text--right a {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;

    color: #FFFFFF;
    @media screen and (max-width:1559px) {
        font-size: 14px;
      }
}
.footer-inst {
    margin-top: 67px;
}
.footer-inst__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;

    color: #FFFFFF;
}
.footer-inst__img {
    width: 60px;
}