.orders-new__table {
    width: 100%;
}

.orders-new__table-name {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1D1818;
    padding: 24px 0;

    border-bottom: 1px solid #E2E2E2;
}
.orders-new__table-number {
    width: 25%;
}
.orders-new__table-date {
    width: 25%;
}
.orders-new__table-status {
    width: 25%;
}
.orders-new__table-sum {
    width: 25%;
}

.orders-new__table-order {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1D1818;
    padding: 24px 0;

    border-bottom: 1px solid #E2E2E2;
}
.orders-new__table-order .orders-new__table-number {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.orders-new__item-plus {
    margin-right: 22px;
    font-size: 40px;
    font-weight: 400;
    width: 20px;
}
.orders-new__table-status .order-new__status {
    background: #0E9F2E;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
.orders-new__table-name .orders-new__table-number {
    padding-left: 37px;
}
.orders-new__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}
.orders-new__img {
    width: 20%;
    padding: 0 0 0 37px;

    img {
        max-width: 127px;
    }
}
.orders-new__content-name {
    width: 55%;

    font-weight: 400;
font-size: 18px;
line-height: 1.3;

color: #1D1818;

}
.orders-new__quantity {
    width: 25%;
    font-weight: 400;
font-size: 18px;
line-height: 1.3;

color: #1D1818;

span:first-child {
    width: 85px;
    display: inline-block;
    margin-left: -85px;
}
}
.orders-new__content-name {
    span {
        display: block;
        margin-top: 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;

        color: #384D54;
    }
}
.content_block {
    background: #F9F9F9;
    border-radius: 5px;
    padding: 45px 0;
}