.order-accepted__title {
    font-weight: 700;
font-size: 25px;
line-height: 1.3;

color: #1D1818;
margin-bottom: 90px;

}
.order-accepted__go-back {
    font-weight: 700;
font-size: 25px;
line-height: 1.3;

color: #384685;

&:hover {
    text-decoration: underline;
}
}