// Шрифты

body {
    font-family: 'PT Sans', sans-serif;

    @media screen and (min-width: 1024px) {
      zoom: 0.9;
    }

    @media screen and (max-width: 1023px) {
      zoom: 1;
    }
  
    // Глобальные стили тегов
  
    // Обнулить всё
  
    * {
      padding: 0;
      margin: 0;
      border: 0;
    }
  
    body {
      margin: 0px;
      &.modal-open {
        overflow: hidden;
      }
    }
  
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    a {
      text-decoration: none;
    }
  
    li {
      list-style-type: none;
    }
  
    ul {
      margin: 0px;
      padding-left: 0px;
    }
    button {
      cursor: pointer;
    }
  
    // Глобальные селекторы
  
    .container {
      position: relative;
      margin: 0px auto;
      width: 100%;
  
      max-width: 350px;
      padding: 0px 9px;

      @media screen and (min-width: 480px) {
        max-width: 480px;
      }
  
      @media screen and (min-width: 768px) {
        max-width: 768px;
        padding: 0px 20px;
      }

      @media screen and (min-width: 1024px) {
        max-width: 1024px;
        padding: 0px 20px;
      }

      @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding: 0px 20px;
      }

      @media screen and (min-width: 1440px) {
        max-width: 1440px;
        padding: 0px 20px;
      }
  
      @media screen and (min-width: 1560px) {
        max-width: 1560px;
        padding: 0px 20px;
      }
    }
  
    // Невидимый Заголовок
  
    .invisible-heading {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
  .breadcrumps {
    margin-bottom: 26px;
    font-weight: 400;
font-size: 16px;
line-height: 1.3;

    a {
      font-weight: 400;
font-size: 16px;
line-height: 1.3;

color: #384D54;
    }

    span {
      color: #999999;

    }
  }